<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    stopOnFailure="false"
    backupGlobals="false"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
    stopOnRisky="false"
    stopOnWarning="false"
    failOnWarning="true"
    failOnRisky="true">

    <coverage>
        <include>
            <directory>app/</directory>
            <directory>app/api/</directory>
            <directory>app/config/</directory>
            <directory>app/controller/</directory>
            <directory>app/Helpers/</directory>
            <directory>app/model/</directory>
            <directory>app/view/auth/</directory>
        </include>
    </coverage>

    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./test/auth/</directory> <!-- Make sure your tests are here -->
        </testsuite>
    </testsuites>

    <!-- <php>
        <ini name="include_path" value="C:\xampp\htdocs\Demo\app\api;C:\xampp\htdocs\Demo\app\config;C:\xampp\htdocs\Demo\app\controller;C:\xampp\htdocs\Demo\app\Helpers;C:\xampp\htdocs\Demo\app\model" />
    </php> -->
</phpunit>
