<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    stopOnFailure="false">
    <testsuites>
        <testsuite name="AuthContollerTest">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory>app/</directory>
            <directory>app/api/</directory>
            <directory>app/config/</directory>
            <directory>app/controller/</directory>
            <directory>app/Helpers/</directory>
            <directory>app/model/</directory>
            <directory>app/view/auth/</directory>
        </include>
    </coverage>
</phpunit>
