<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    stopOnFailure="false"
    processIsolation="false"
>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>test/auth</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
